* {
    font-family: 'Noto Sans KR', sans-serif;
}

body
{
    margin: 0 auto;
    width: 100%;
}

ol,ul
{
    list-style-type: none;
}

#wrapper{
    position: relative;
    margin: 0 auto;
    width: 100%;
}

#nav{
    position: absolute;
    width: 300px;
    height: 1000px;
    left: 0;
    text-align: center;
    background-color: #F8F8F8;
    border-right: 1px solid black;    
}

#nav #logo{
    width: 60%;
    margin-top: 250px;
}

#nav #LibroStart{
    width: 50%;
}

#contain{
    position: absolute;
    width: 1200px;
    height: 1000px;
    right: 0;
    text-align: center;
}