* {
    font-family: 'Noto Sans KR', sans-serif;
}

body
{
    margin: 0 auto;
    width: 100%;
}

ol,ul
{
    list-style-type: none;
}

#wrapper{
    position: relative;
    margin: 0 auto;
    width: 100%;
}

#nav{
    position: absolute;
    width: 300px;
    height: 1000px;
    left: 0;
    text-align: center;
    background-color: #F8F8F8;
    border-right: 1px solid black;    
}

#nav #logo{
    width: 60%;
    margin-top: 250px;
}

#nav #LibroStart{
    width: 50%;
}

#contain{
    position: absolute;
    width: 1200px;
    height: 1000px;
    right: 0;
    text-align: center;
}

#contain { position: relative; width:80%; height:100%; float: right; font-family: 'Nanum Gothic'; text-align: center; }
.text .graph { position: absolute; top:10%; left:30%; width:40%; height: 20px; background: #E3E3E3; border-radius: 40px;  }
.text .graph span { display: block; width:50%; height:20px; background: #C4C4C4; border-radius: 40px; box-sizing: border-box; animation: stack 2s 1; }
@keyframes stack { 
    0% { width: 0; color: rgba(255,255,255,0); }
    100% { width:50%; }
}

.text h1 { color:#5A5A5A; font-size:25pt; margin-top:10%; }
.text ul { margin-top:5%; }
.text ul li .btn { background: white; border:1.5px solid lightgray; width:400px; height:70px; margin-bottom:30px; font-size:20pt; }
.text ul li .btn:hover { opacity: 0.6; }
.text .right { position: fixed; right:30px; top:40%;  }
.text .right img { width:80px; height:200px; opacity: 0.4; }
.text .right img:hover { opacity: 0.2; }