* {
    font-family: 'Noto Sans KR', sans-serif;
}

body
{
    margin: 0 auto;
    width: 100%;
    position: fixed;
}

ol,ul
{
    list-style-type: none;
}

#wrapper{
    position: relative;
    margin: 0 auto;
    width: 100%;
}

#nav{
    position: absolute;
    width: 300px;
    height: 1000px;
    left: 0;
    text-align: center;
    background-color: #F8F8F8;
    border-right: 1px solid black;    
}

#nav #logo{
    width: 60%;
    margin-top: 250px;
}

#nav #LibroStart{
    width: 50%;
}

#contain{
    position: absolute;
    width: 1200px;
    height: 800px;
    margin-top: 30px;
    margin-left: 500px;
    text-align: center;
}

#contain #info{
    font-size: 50px;
    font-family: 'Nanum Gothic', sans-serif;
    color: #494949;
}

#contain #info b{
    color: #548E40;
}

#coo{
    width: 50%;
}

#contain #startBtn{
    margin-top: 30px;
    width: 50%;
}